.adminContainer {
    background-color: #7FDBFF;
}

.adminContainer h3 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.adminContainer {
    font-family: 'Merriweather', serif;
    font-size: 22px;
}
