.center {
    width: 100%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.merriweather {
    font-family: 'Merriweather', serif;
    font-size: 22px;
}

.instructions {
}

.captureBtn {
    padding: 5px;
}

.captureBtn .btn {
    margin: auto;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 40%;
    padding: 10px;
}

.captureContainer .recentPhotograph {
    margin-top: -50px;
    border-radius: 10px;
}

.afterPhotoContainer {
    margin-top: -30px;
}

.btnChangeEmotion {
    margin-bottom: 20px;
}

