.fear {
    background-color: #11ff00;
}

.anger {
    background-color: #ff0011;
}

.contempt {
background-color: #ee00ff;
}

.disgust {
    background-color: #80027a;
}

.sadness {
    background-color: #1003ff;
}

.neutral {
    background-color: #06ffb4;
}

.surprise {
    background-color: #ff7206;
}

.happiness {
    background-color: #fff700;
}