.btnDelete {
    margin-top: 5px;
}

@media only screen and (min-width: 700px) {
    .photoContainer img {
        border-radius: 5px;
        width: 30%;
    
    }
  }

@media only screen and (max-width: 600px) {
    .photoContainer {
        padding: 5px;
        margin:0;
        border-bottom: 1px solid #f5f3f1;
    }
    
    .photoContainer img {
        border-radius: 5px;
        width: 100%;
    
    }
  }