.center-outer-container {
	text-align: center;
	width: 90%;
}

.button-row {
	width: 100%;
	display: inline-block;
}

.card-carousel {
  width: 50%;
  background-color: white;
  float:center;
  border-radius:10px;
  box-shadow: 5px 5px 5px grey;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
    flex: 0 0 auto;
}