
.tagMenuComponent {
}

.tagMenuComponent ul {
    width: 80%;
    padding: 0;
    margin: auto;
}

.tagMenuComponent form {
    width: 100%;
}

.fakeInput {
    visibility: hidden;
}

.tagMenuComponent input { 
    width: 70%;
    height: 40px;
    border-radius:10px; 
    color: #F6D55C;
}

.tagMenuComponent Button {
    width: 29%;
    color: #F6D55C;
    background-color: #20639B;
}

.tagMenuComponent li {
    color: #F6D55C;
    font-size: 22px;
    background-color: #20639B;
    list-style-type: none;
    padding: 8px;
    margin-top: 6px;
    border-radius: 10px;
}

.binIcon {
    height: 30px;
    float: right;
}