.toggleButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding-bottom: 5px; */
    height: 30px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: -9px;
}

.toggleButton:focus {
    outline: none;
}

.toggleLine {
    width: 30px;
    height: 4px;
    background: black;
}