aniso8601==6.0.0
asn1crypto==0.24.0
blinker==1.4
cffi==1.12.2
Click==7.0
cryptography==2.6.1
Cython==0.29.6
Flask==1.0.2
Flask-Cors==3.0.7
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
Flask-RESTful==0.3.7
itsdangerous==1.1.0
Jinja2==2.10.1
jwt==0.6.1
MarkupSafe==1.1.1
mysqlclient==1.4.2.post1
numpy==1.16.2
passlib==1.7.1
pkg-resources==0.0.0
pycparser==2.19
pystan==2.19.0.0
pytz==2019.1
reverse-geocoder==1.5.1
scipy==1.2.1
six==1.12.0
uWSGI==2.0.18
Werkzeug==0.15.2
